  .div-current-date {
      margin-top: -30px;
  }

  .div-current-conds-title {
      margin-top: -30px;
      margin-bottom: -20px;
  }

  .gray-box {
    margin-top: 0px;
    display: inline-block;
    padding: 20px;
    border-radius: 4px;
    background-color: #b3b3b3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: black;
  }

  .dropdown-header {
    margin: 15px auto;
  }

  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    margin: 0 auto;
    max-width: 1200px;
  }

  .dropdown-content.open {
    max-height: 400px;
  }

  .arrow-icon {
    width: 0;
    height: 0;
    border-style: solid;
    display: inline-block;
    margin-left: 5px;
  }

  .down {
    border-width: 5px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
  }

  .up {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #000000 transparent;
  }

  .dropdown-box {
    border-radius: 4px;
    background-color: #b3b3b3;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: black;
  }

  .dropdown-box span {
    display: block; 
    margin: 5px;
  }

  .info-container {
    margin-top: 20px;
  }

  .sub-info-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 60%;
    margin: 0 auto;
  }
  
  .sub-info-container span {
    flex: 1;
  }

  .sub-info-box {
    background-color: #b3b3b3;
    border-radius: 3px;
    padding: 4px;
    margin: 5px;
    color: rgb(0, 0, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .forecast-container {
    margin: 0 auto;
    /* max-width: 1700px; */
    background-color: #333333b4;
    /* border-radius: 8px; */
    color: white;
  }

  .div-forecast-title {
    padding-top: 40px;
    margin-top: 160px;
    margin-bottom: 60px;
  }

  .forecasted-weather-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 40px;
  }

  .forecasted-weather-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .forecasted-weather-group img {
    width: 50px;
    height: 50px;
  }





